<div class="bookmarks-content">
  <% if @section == "your-bookmarks" %>
    <%= erb :"bookmarks/_your-bookmarks", layout: false %>
  <% elsif @section == "your-creators" %>
    <%= erb :"bookmarks/_your-creators", layout: false %>
  <% elsif @section == "your-admirers" %>
    <%= erb :"bookmarks/_your-admirers", layout: false %>
  <% else %>
    <p>nothing here</p>
  <% end %>
</div>