/*forms*/
.page-content > #create-bookmark {
  margin: 60px auto;
  width: 60%;
}

.page-content > #create-bookmark > input {
  font-size: 24px;
}

#create-bookmark > input[type=submit] {
  font-size: 24px;
}