.my-bookmarks > h1 {
  font-size: 32px;
  margin-left: 20px;
}

/*editing a given bookmark*/
.bookmark-name-input, .bookmark-url-input {
  display: none;
}

.bookmark-action-edit, .bookmark-name-link {
  display: inline-block;
}

/*adding the editting class to display forms*/
.editing .bookmark-name-input,
.editing .bookmark-url-input {
  display: inline-block;
}

.editing .bookmark-name-link,
.editing .bookmark-url-link {
  display: none;
}

.editing .bookmark-action-edit {
  display: none;
}

.bookmark a {
  color: black;
}

.bookmark > p > a {
  margin: 0px 10px;
}

a.bookmark-url-link,
span.bookmark-action-edit,
span.bookmark-action-delete {
  display: none;
}

/*note*/ /*:not(.editing) === :not(.editing):hover === :hover:not(.editing)*/
.my-bookmarks > .bookmark:hover:not(.editing) .bookmark-url-link,
.my-bookmarks > .bookmark:hover .bookmark-action-edit,
.my-bookmarks > .bookmark:hover .bookmark-action-delete {
  display: inline-block;
}