.content {
  display: flex;
  padding: 0px 10%;
  width: 75%;
}

#x {
  padding: 5px;
  position: absolute;
}

.bookmarks-content {
  width: 100%;
}

.bookmarks-content a {
  font-size: 22px;
  text-decoration: none;
}

.bookmarks-content p {
  margin: 20px 100px;
}

.hide {
  display: none;
}


/*forms*/
/*.bookmarks-content > #create-bookmark {
  margin: 60px auto;
  width: 60%;
}

.bookmarks-content > #create-bookmark > input {
  font-size: 24px;
}

#create-bookmark > input[type=submit] {
  font-size: 24px;
}
*/

/*bookmark link options for delete and edit*/
.show-link-options > p {
  /*display: inline-block;*/
}

.each-bookmark {
  /*display: flex;*/
  /*flex-direction: column;*/
}
