.content {
  display: flex;
  padding: 0px 10%;
  width: 75%;
}

#x {
  color: white;
  font-size: 30px;
  padding: 5px;
  position: absolute;
}

.bookmarks-content {
  background-color: black;
  color: white;
  height: 542px;
  width: 100%;
}

.bookmarks-content a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.bookmarks-content p {
  margin: 20px 100px;
}

.hide {
  display: none;
}


/*forms*/
.bookmarks-content > #create-bookmark {
  margin: 60px auto;
  width: 60%;
}

.bookmarks-content > #create-bookmark > input {
  font-size: 24px;
}

#create-bookmark > input[type=submit] {
  font-size: 24px;
}


/*bookmark link options for delete and edit*/
.show-link-options {
  display: flex;
}

