.tabs {
  margin: 50px auto;
}

.border {
  background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");
  background-size: cover;
  background-position: 0px -10px;
  height: 5px;
}

.tabs {
  background-color: black;
  color: white;
  display: inline-block;
  max-width: 260px;
  min-width: 200px;
  text-align: center;
  width: 200px;
}

.tabs > a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 50px 20px;
  font-size: 26px;
  transition: background-color 1s, text-shadow 1s;
}

.tabs > a:hover {
  background-color: #7F7975;
  text-shadow: 1px 1px 2px #263248;
}

.tabs > a.selected {
  background-color: #7F7975;
}