.content {
  display: flex;
  padding: 0px 10%;
  width: 75%;
}

#x {
  padding: 5px;
  position: absolute;
}

.page-content {
  display: inline-block;
  position: absolute;
  margin: 50px auto;
}

.page-content a {
  font-size: 22px;
  text-decoration: none;
}

.page-content p {
  margin: 20px 100px;
}

.hide {
  display: none;
}
