.page-container {
  display: flex;
  margin: 50px auto;
}

.border {
  background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");
  background-size: cover;
  background-position: 0px -10px;
  height: 5px;
}

.full-menu {
  display: flex;
  margin: 0px auto;
  padding: 0px 5%;
}

.full-menu > .tabs {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  text-align: right;
}

.full-menu > .tabs a {
  color: white;
  text-decoration: none;
}

.full-menu > .tabs > div {
  padding: 60px 20px;
  font-size: 26px;
  transition: background-color 1s, text-shadow 1s;
}

.full-menu > .tabs > div:hover {
  background-color: #7F7975;
  text-shadow: 1px 1px 2px #263248;
}