.page-container {
  display: flex;
  }

.border {
  background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");
  background-size: cover;
  background-position: 0px -10px;
  height: 5px;
}

.full-menu {
  display: flex;
  margin: 50px auto;
}

.hidden-menu {
  align-items: center;
  background-color: #7F7975;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 542px;
  width: 60px;
  text-align: center;
  text-shadow: 1px 1px 2px #263248;
  transition: background-color 1s, text-shadow 1s;
}

.hidden-menu> .rotate {
  margin: 5px 0px;
}

.hidden-menu> i {
  margin: 20px 0px;
}

.hidden-menu:hover {
  background-color: black;
  text-shadow: 1px 1px 2px #7F7975;
}

.full-menu > .tabs {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: right;
}

.full-menu > .tabs a {
  color: white;
  text-decoration: none;
}

.full-menu > .tabs > div {
  padding: 60px 20px;
  font-size: 26px;
  transition: background-color 1s, text-shadow 1s;
}

.full-menu > .tabs > div:hover {
  background-color: #7F7975;
  text-shadow: 1px 1px 2px #263248;
}

/*DIVIDER*/

section.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

