.background {
  background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.site-info {
  text-align: center;
}

.site-info > h1 {
  border: 5px solid white;
  background-color: black;
  color: white;
  font-size: 40px;
  margin: 300px auto;
  padding: 50px;
}

section.demo > .steps {
  display: flex;
  color: white;
  font-size: 26px;
  justify-content: center;
  margin: 20px auto;
}

section.demo > .steps {
  background-color: black;
}
section.demo > .steps > div {
  padding: 50px 0px;
  text-align: center;
  width: 20%;
  transition: background-color 1s, text-shadow 1s;
}

.fa-caret-right {
  margin-left: 20px;
}

section.demo > .steps > div:hover {
  text-shadow: 1px 1px 10px black;
}

section.demo > .steps > div:nth-child(2):hover {
  background-color: #2A7F7F;
}

section.demo > .steps > div:nth-child(3):hover {
  background-color: #6A9F5F;
}

section.demo > .steps > div:nth-child(4):hover {
  background-color: #FF6130;
}

section.demo > .steps > div:nth-child(5):hover {
  background-color: #E83317;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  padding: 7px;
}