<div class="border">
</div>

<% @id = session[:user_id] %>

<div class="tabs">
  <a id="add-new-bookmark" href="/bookmarks/new">ADD NEW BOOKMARK</a>
  <a id="your-bookmarks" href="/bookmarks">MY BOOKMARKS</a>
  <a id="your-creators" href="/network">NETWORK</a>
  <a id="your-admirers" href="/settings">SETTINGS</a>
</div>
