<div class="border">
</div>

<% @id = session[:user_id] %>

<div class="tabs">
  <a id="add-new-bookmark" class="<%= 'selected' if @selected_menu_option == 'add-new-bookmark' %>" href="/bookmarks/new">ADD NEW BOOKMARK</a>
  <a id="my-bookmarks" class="<%= 'selected' if @selected_menu_option == 'my-bookmarks' %>" href="/bookmarks">MY BOOKMARKS</a>
  <a id="network" class="<%= 'selected' if @selected_menu_option == 'network' %>" href="/network">NETWORK</a>
  <a id="settings" class="<%= 'selected' if @selected_menu_option == 'settings' %>" href="/settings">SETTINGS</a>
</div>