<%= erb :"/menu-options/_menu" %>

<div class="page-content add-new-bookmark">
  <form id="create-bookmark" class="add-bookmark" action="/bookmarks" method="post">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="URL" name="url">
    <input type="submit" value="Add to Bookmarks" id="submit"/>
  </form>
</div>


