<%= erb :"/menu-options/_menu" %>

<div class="page-content network">
  <h1>Find Friends</h1>

  <% first_twelve_users = User.all.first(12) %>
  <% first_twelve_users.each do |user| %>
    <p>
      <a href="/network/<%= user.id%>"><%= user.name %></a>
      <a class="add-to-network" href="/add">Add</a>
    </p>
  <% end %>
</div>