<%= erb :"/menu-options/_menu" %>

<% @list_of_friends = current_user.creators.first(12) %>
<% @users_not_in_network = [] %>
<% User.all.each do |user| %>
  <% if !@list_of_friends.include? user %>
    <% @users_not_in_network.push(user) %>
  <% end %>
<% end %>

<div class="page-content network">
  <section>
    <h1>Your Network</h1>
    <%= erb :"/network/_list-of-friends" %>
  </section>
  <section>
    <h1>Expand Your Network!</h1>
    <button class="find-FB-friends-button" onclick="findFriends()" type="button">Facebook Friends</button>
    <button class="find-twitter-friends-button" type="button">Twitter Follows</button>
    <button class="find-other-users-button" onclick="findOtherUsers()" type="button">Other Cool Peeps</button>
  </section>
  <section class="find-friends-section">
    <%= erb :"/network/_find-friends" %>
  </section>
</div>
<%= erb :"/network/_network-sidebar" %>
