<div class="border">
</div>

<% @id = current_user.id %>

<section class="container">
  <div class="tabs">
    <a id="your-bookmarks" href="/user/<%= "#{@id}" %>/bookmarks">Your Bookmarks</a>
    <a id="your-creators" href="/user/<%= "#{@id}" %>/creators">People You Follow</a>
    <a id="your-admirers" href="/user/<%= "#{@id}" %>/admirers">People Who Follow You</a>
  </div>
  <div class="content">
    <%= erb :"_bookmarks-content" %>
  </div>
</section>