<div class="background">
  <div class="site-info">
    <h1>A simple way to exchange ideas, inspirations, and information</h1>
  </div>
</div>

<section class="demo">
  <div class="steps">
    <div class="how-to">
      How it works<i class="fa fa-caret-right"></i>
    </div>
    <div class="step-one">
      Create an Account
    </div>
    <div class="step-two">
      Add bookmarks
    </div>
    <div class="step-three">
      Find friends
    </div>
    <div class="step-four">
      Exchange bookmarks
    </div>
  </div>
</section>

<footer>
  <p>Created by Lynne Tye</p>
  <p>April, 2015</p>
  <p>See More</p>
</footer>
