<div class="bookmarks-content your-bookmarks">
  <% @bookmarks = current_user.bookmarks %>



  <div class="each-bookmark">
    <% current_user.bookmarks.each do |bookmark| %>
      <div class="show-link-options">
        <p><a id="bookmark-name" href="<%= bookmark.url %>" target="_blank"><%= bookmark.name %></a></p>
        <p><a id="edit" href="/bookmarks/<%= bookmark.id %>/edit">Edit</a></p>
        <p><a id="delete" href="/bookmarks/<%= bookmark.id %>">Delete</a></p>
      </div>
    <% end %>
  </div>
</div>