<div class="background">
  <div class="site-info">
    <h1>A simple way to exchange ideas, inspirations, and information</h1>
  </div>
</div>

<section class="demo">
  <div class="steps">
    <div class="how-to">
      <p>How it works<i class="fa fa-caret-right"></i></p>
    </div>
    <div class="step-one">
      <p>Create an Account</p>
    </div>
    <div class="step-two">
      <p>Add Bookmarks</p>
    </div>
    <div class="step-three">
      <p>Find Friends</p>
    </div>
    <div class="step-four">
      <p>Exchange Bookmarks</p>
    </div>
  </div>
</section>

<footer>
  <p>Created by Lynne Tye</p>
  <p>April, 2015</p>
  <p>See More</p>
</footer>
