<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/_welcome.css">
  <link rel="stylesheet" href="/css/_user-homepage.css">
  <link rel="stylesheet" href="/css/_bookmarks-content.css">
  <link rel="stylesheet" href="/css/bookmarks/my-bookmarks.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

  <nav>
    <a href="/">Bookmarker</a>
    <% if logged_in? %>
      <div class="welcome-user">
        <a href="/">Welcome home, <%= current_user.name %></a>
        <a href="/logout">Logout</a>
      </div>
    <% else %>
      <div class="nav-buttons">
        <a id="sign-up" href="/signup">Sign Up</a>
        <a id="login" href="/login">Login</a>

        <!-- google plus signin code -->
        <a style="cursor:pointer" onclick="login()"/>Login with Google Plus</a>
        <a style="cursor:pointer" onclick="logout()"/>Logout</a>
        <div id="profile"></div>
        <!-- end of google plus signin code -->

      </div>

    <% end %>
  </nav>
  <%= yield %>

  <script src="/js/application.js"></script>

  <!-- google plus sign in -->
  <script src="/js/google-plus-signin-api.js"></script>
  <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
  </script>
  <!-- google plus sign in -->
</body>
</html>
