<div class="border">
</div>

<% @id = session[:user_id] %>

<div class="page-container">
  <div class="full-menu">
    <div class="tabs">
      <div>
        <a id="your-bookmarks" href="/bookmarks">MANAGE BOOKMARKS</a>
      </div>
      <div>
        <a id="your-creators" href="/creators">WHO YOU FOLLOW</a>
      </div>
      <div>
        <a id="your-admirers" href="/admirers">WHOSE FOLLOWING YOU</a>
      </div>
    </div>
  </div>

  <section class="content">
    <%= erb :"/menu/my-bookmarks" %>
  </section>
</div>