<div class="border">
</div>

<% @id = session[:user_id] %>

<div class="page-container">
  <div class="full-menu">
    <div class="tabs">
      <div>
        <a id="your-bookmarks" href="/bookmarks">MANAGE BOOKMARKS</a>
      </div>
      <div>
        <a id="your-creators" href="/creators">WHO YOU FOLLOW</a>
      </div>
      <div>
        <a id="your-admirers" href="/admirers">WHOSE FOLLOWING YOU</a>
      </div>
    </div>

    <div class="hidden-menu">
      <i class="fa fa-bars"></i>
      <h1 class="rotate">M</h1>
      <h1 class="rotate">E</h1>
      <h1 class="rotate">N</h1>
      <h1 class="rotate">U</h1>
    </div>
  </div>

  <section class="content">
    <!-- <a id="x" href="#"><i class="fa fa-times"></i></a> -->
    <%= erb :"/menu/my-bookmarks" %>
  </section>
</div>